<%- include('Partials/header.ejs') -%>

  <header>

    <div class="left">
      
      <h1><i class="bi bi-bank"></i></h1>
      
    </div>

    <div class="right">

      <a href="/">Home</a>
      <a href="/accounts">Customers</a>
      <a href="/transaction/add">Transfer</a>

    </div>

  </header>

  <img src="./images/bg.webp" alt="bg-image" />

  <main>

    <div class="hero-container">

      <div class="bg"></div>

      <h1>Make Effortless Transactions</h1>

      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ex cum dolorum
        eveniet, et fuga amet, officia quasi vel sit ipsam laudantium. Tenetur
        sint sit quam rerum veritatis odit officia incidunt. Lorem ipsum dolor sit
        amet consectetur adipisicing elit. Assumenda, voluptas corrupti. In
        excepturi commodi asperiores sequi iusto corporis cumque officia hic
        deleniti non blanditiis, dolore eum reiciendis, facilis sapiente!
        Asperiores.
      </p>

      <div class="button-container">
        <a class="btn btn-outline-dark btn-lg" href="/accounts">View Customers</a>
        <a class="btn btn-dark btn-lg" href="/transaction/add">Initiate Transaction</a>
      </div>

    </div>

  </main>

  <%- include('Partials/footer.ejs') -%>