<%- include('Partials/header.ejs') -%>
<header>
  <div class="left">
    <h1><i class="bi bi-bank"></i></h1>
  </div>
  <div class="right">
    <a class="btn btn-lg btn-outline-dark" href="/"><i class="bi bi-box-arrow-left"></i></a>
    <button class="btn btn-lg btn-dark"><i class="bi bi-receipt"></i></button>
  </div>
</header>
<img src="/images/bg.webp" alt="bg-image" />
<main class="transactions">
    <div class="hero-container">
        <form class="transaction-row needs-validation" method="post" action="/accounts/add" novalidate>

            <div class="form-box">
              <label for="validationCustom05" class="form-label">Account Name</label>
              <input type="text" class="form-control" id="validationCustom05" name="AccountName" required>
              <div class="invalid-feedback">
                Please provide the Account Name.
              </div>
            </div>

            <div class="form-box">
              <label for="validationCustom05" class="form-label">Account Number</label>
              <input type="number" class="form-control" id="validationCustom05" name="AccountNumber" required>
              <div class="invalid-feedback">
                Please provide the Account Number.
              </div>
            </div>

            <div class="form-box">
              <label for="validationCustom05" class="form-label">Add Account Balance</label>
              <input type="number" class="form-control" name="AccountBalance" id="validationCustom05" required>
              <div class="invalid-feedback">
                Please provide a Valid Amount.
              </div>
            </div>
            <div class="submit-button">
              <button class="btn btn-danger" type="submit">Initiate Transaction</button>
            </div>
          </form>
    </div>    
</main>
<%- include('Partials/footer.ejs') -%>
